SECRET_KEY='nmm+b_5m17y&=d(dtk8+n7=g%@li6a-yar6b2uaizdhq#r&$&)'
DEBUG=True
ALLOWED="localhost 127.0.0.1 0.0.0.0"
DATABASES_ENGINE='django.db.backends.postgresql_psycopg2'
DATABASES_NAME='livestream'
DATABASES_USER='livestream'
DATABASES_PASSWORD='livestream'
DATABASES_HOST='db'
DATABASES_PORT='5432'